.custom-datepicker
  background: white
  font-size: $font-size-xs
  display: none
  padding: .2em .2em 0
  width: 17em
  @include border-radius($border-radius-s)
  @include box-shadow($default-box-shadow)
  @include micro-clearfix

  .custom-datepicker-unselectable, .ui-state-disabled
    .ui-state-default
      opacity: 0.5

      &:hover
        background: none
        color: gray

.hidden-datepicker-input
  height: 0px
  position: absolute
  bottom: 0
  opacity: 0 //visibility: hidden
  width: 0px

.custom-datepicker select.custom-datepicker-month-year
  width: 100%

.custom-datepicker select.custom-datepicker-month,
.custom-datepicker select.custom-datepicker-year
  width: 49%

.custom-datepicker table
  width: 100%
  font-size: .9em
  border-collapse: collapse
  margin: 0 0 .4em

.custom-datepicker th
  padding: .7em .3em
  text-align: center
  font-weight: bold
  border: 0

.custom-datepicker td
  border: 0
  padding: 1px

.custom-datepicker td span, .custom-datepicker td a
  display: block
  padding: .2em
  text-align: right
  text-decoration: none

.custom-datepicker .custom-datepicker-buttonpane
  background-image: none
  margin: .7em 0 0 0
  padding: 0 .2em
  border-left: 0
  border-right: 0
  border-bottom: 0

.custom-datepicker .custom-datepicker-buttonpane button
  float: right
  margin: .5em .2em .4em
  cursor: pointer
  padding: .2em .6em .3em .6em
  width: auto
  overflow: visible

.custom-datepicker .custom-datepicker-buttonpane button.custom-datepicker-current
  float: left


/* with multiple calendars */
.custom-datepicker.custom-datepicker-multi
  width: auto

.custom-datepicker-multi .custom-datepicker-group
  float: left

.custom-datepicker-multi .custom-datepicker-group table
  width: 95%
  margin: 0 auto .4em

.custom-datepicker-multi-2 .custom-datepicker-group
  width: 50%

.custom-datepicker-multi-3 .custom-datepicker-group
  width: 33.3%

.custom-datepicker-multi-4 .custom-datepicker-group
  width: 25%

.custom-datepicker-multi .custom-datepicker-buttonpane
  clear: left

.custom-datepicker-row-break
  clear: both
  width: 100%
  font-size: 0em


/* RTL support */
.custom-datepicker-rtl
  direction: rtl

.custom-datepicker-rtl .custom-datepicker-buttonpane
  clear:right

.custom-datepicker-rtl .custom-datepicker-buttonpane button
  float: left

.custom-datepicker-rtl .custom-datepicker-buttonpane button.custom-datepicker-current
  float:right

.custom-datepicker-rtl .custom-datepicker-group
  float:right

.custom-datepicker th
  font-weight: bold
  color: gray

.custom-datepicker

  td.custom-datepicker-today a
    background: none
    font-weight: bold
    text-decoration: underline

  td.custom-datepicker-days-cell-over a
    background: $lightblue
    color: white
    @include border-radius(4px)

.custom-datepicker td a
  margin-bottom: 0px
  border: 0px

.custom-datepicker td:hover
  color: white

.custom-datepicker .ui-state-default
  border: 0px
  background: none
  margin-bottom: 0px
  padding: 5px
  color: gray
  text-align: center
  filter: none

.custom-datepicker td .ui-state-active
  background: #BFBFBF
  margin-bottom: 0px
  font-size: normal
  text-shadow: 0px
  color: white
  @include border-radius(4px)

.custom-datepicker td .ui-state-default:hover
  background: $blue
  color: white
  @include border-radius(4px)


// fixes after jquery UI was indirectly removed:

// TODO: use real icons
.custom-datepicker
  // .ui-icon-circle-triangle-w
  //   @extend .fa
  //   @extend .fa-chevron-circle-left
  //
  // .ui-icon-circle-triangle-e
  //   @extend .fa
  //   @extend .fa-chevron-circle-right

  .ui-icon-circle-triangle-w,
  .ui-icon-circle-triangle-e
    font-family: Arial
    font-size: 14px
    font-weight: bold
    background: $darkgrey
    border-radius: 100px
    height: 12px
    width: 12px
    line-height: 0
    color: white
    overflow: hidden
    padding: 7px 11px 7px 3px

.custom-datepicker .custom-datepicker-header
  position: relative
  padding: .2em 0

.custom-datepicker .custom-datepicker-prev,
.custom-datepicker .custom-datepicker-next
  position: absolute
  top: 2px
  width: 1.8em
  height: 1.8em

.custom-datepicker .custom-datepicker-prev-hover,
.custom-datepicker .custom-datepicker-next-hover
  top: 1px

.custom-datepicker .custom-datepicker-prev
  left: 2px

.custom-datepicker .custom-datepicker-next
  right: 2px

.custom-datepicker .custom-datepicker-prev-hover
  left: 1px

.custom-datepicker .custom-datepicker-next-hover
  right: 1px

.custom-datepicker .custom-datepicker-prev span,
.custom-datepicker .custom-datepicker-next span
  display: block
  position: absolute
  left: 50%
  margin-left: -8px
  top: 50%
  margin-top: -8px

.custom-datepicker .custom-datepicker-title
  margin: 0 2.3em
  line-height: 1.8em
  text-align: center

.custom-datepicker .custom-datepicker-title select
  font-size: 1em
  margin: 1px 0

.custom-datepicker select.custom-datepicker-month,
.custom-datepicker select.custom-datepicker-year
  width: 45%
